* {
    font-family: "Inter", sans-serif;
}

body {
    padding-top: 100px;
}

.button-primary {
    background-color: #e2edff;
    color: #000;
    font-size: 14px;
    border: none;
    text-decoration: none;
    transition: 3s;
}

.button-primary:hover {
    color: #000;
    background-color: #d2e3ff;
    transition-duration: 3s;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
}

.button-secondary {
    background-color: #fff;
    color: #000;
    font-size: 14px;
    border: none;
    text-decoration: none;
    transition: 3s;
}

.button-secondary:hover {
    color: #000;
    background-color: #fff;
    transition-duration: 3s;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
}

.btn-sm-primary {
    background-color: #e2edff;
    color: #000;
    font-size: 12px;
    border: none;
    text-decoration: none;
    transition-duration: 3s;
}

.btn-sm-primary:hover {
    color: #000;
    background-color: #d2e3ff;
    transition-duration: 0.5s;
    transition-duration: 3s;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
}

.btn-sm-secondary {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    border: none;
    text-decoration: none;
    transition-duration: 3s;
}

.btn-sm-secondary:hover {
    color: #000;
    background-color: #fff;
    transition-duration: 0.5s;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
}

/* .navbar {
    backdrop-filter: blur(10px);
} */

.navbar-nav {
    font-size: 14px;
}

.nav-title {
    color: #000;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
}

.nav-title:hover {
    color: #000;
}
.custom-card {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

/* .custom-card:hover {
    transition-duration: 1s;
    cursor: pointer;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.15));
} */

.img-card {
    width: 70px;
    height: 60px;
}

.card-title {
    font-size: 16px;
}

.card-sub {
    font-size: 11px;
    font-weight: 400;
    color: #999;
    margin-top: -5px;
}

.auth-height {
    height: 80vh;
}

.forgot-pw {
    font-size: 14px;
    text-decoration: none;
}

.custom-card-margin {
    margin-bottom: 25px !important;
}

.product-image {
    width: 90px;
    height: 150px;
}

.price-text {
    font-size: 14px;
    color: #5551a1;
    margin-top: -6px !important;
    margin-bottom: 12px !important;
}

.carousel {
    margin-top: -25px;
}

.desc-product {
    font-size: 15px;
    /* line-height: ; */
}

@media (min-width: 1200px) {
    .img-card {
        width: 92px;
        height: 74px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-sub {
        font-size: 12px;
        font-weight: 400;
        color: #999;
        margin-top: -5px;
    }

    .carousel {
        margin-top: 0px;
    }

    .btn-sm-primary {
        font-size: 14px;
    }

    .btn-sm-secondary {
        font-size: 14px;
    }

    .img-fluid {
        height: 623px;
    }

    .custom-fc {
        width: 20px;
    }
}

@media (min-width: 992px) {
    .img-card {
        width: 90px;
        height: 80px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-sub {
        font-size: 12px;
        font-weight: 400;
        color: #999;
        margin-top: -5px;
    }

    .carousel {
        margin-top: -5px;
    }

    .btn-sm-primary {
        font-size: 13.5px;
        padding: 5px 15px;
    }

    .btn-sm-secondary {
        font-size: 13.5px;
        padding: 5px 15px;
    }
}

@media (min-width: 768px) {
    .img-card {
        width: 88px;
        height: 74px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-sub {
        font-size: 12px;
        font-weight: 400;
        color: #999;
        margin-top: -5px;
    }

    .carousel {
        margin-top: -10px;
    }

    .btn-sm-primary {
        font-size: 14px;
    }

    .btn-sm-secondary {
        font-size: 14px;
    }

    .btn-sm-primary {
        text-align: center;
        font-size: 13px;
        padding: 8px 8px;
    }

    .btn-sm-secondary {
        text-align: center;
        font-size: 13px;
        padding: 8px 8px;
    }
}

@media (min-width: 576px) {
    .img-card {
        width: 86px;
        height: 74px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-sub {
        font-size: 12px;
        font-weight: 400;
        color: #999;
        margin-top: -5px;
    }

    .carousel {
        margin-top: -20px;
    }

    .btn-sm-primary {
        font-size: 12.5px;
    }

    .btn-sm-secondary {
        font-size: 12.5px;
    }
}
